{% extends 'base.html' %}

{% block title %}
Notice
{% endblock title %}
{% block intro %}
Notice
{% endblock intro %}



{% block heading %}
Notice
    
{% endblock heading %}


{% block content %}
{% for message in messages %}

                    <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
                      <strong>{{message}}</strong>
                      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endfor %}

<div class="container">
    <div class="row">
        <div class="col-12 mb-3 mb-lg-5">
            <div class="overflow-hidden card table-nowrap table-card">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h5 class="mb-0">Recent Notices</h5>
                    <a href="/Events/create/" class="btn btn-light btn-sm">Add New Event</a>

                </div>
                <div class="table-responsive">
                  <div class="list-group">

                    

                        {% for event  in events  %}
                  
                    <a href="{% url 'event_detail' event.id %}" class="list-group-item list-group-item-action list-group-item-primary">
                        {{ event.title }} <span style="float:right;"> - {{ event.event_date }}</span></a>  
                        {% empty %}
                         <a href="#" class="list-group-item list-group-item-action list-group-item-primary">No events found.</a>
                           
                        {% endfor %}
                  </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    
{% endblock content %}
<ul>
    {% for event  in events  %}
        <li>
            <a href="{% url 'notice_detail' event.id %}">{{ Event.title }}</a>
            <a href="{% url 'notice_update' notice.id %}">Edit</a>
            <a href="{% url 'notice_delete' notice.id %}">Delete</a>
        </li>
        {% empty %}
            <li>No events found.</li>
        {% endfor %}
</ul>


<div class="drodown">
    <a data-bs-toggle="dropdown" href="#" class="btn p-1" aria-expanded="false">
<i class="fa fa-bars" aria-hidden="true"></i>
</a>


</div>