{% extends 'base.html' %}

{% block title %}
Notice
{% endblock title %}
{% block intro %}
Notice
{% endblock intro %}



{% block heading %}
Notice
    
{% endblock heading %}


{% block content %}

<div class="container">
    <div class="row">
        <div class="col-12 mb-3 mb-lg-5">
            <div class="overflow-hidden card table-nowrap table-card">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h5 class="mb-0">Recent Notices</h5>
                </div>
                <div class="table-responsive">
                  <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action">A simple default list group item</a>
                  
                    <a href="#" class="list-group-item list-group-item-action list-group-item-primary">A simple primary list group item</a>
                    <a href="#" class="list-group-item list-group-item-action list-group-item-secondary">A simple secondary list group item</a>
                    <a href="#" class="list-group-item list-group-item-action list-group-item-success">A simple success list group item</a>
                    <a href="#" class="list-group-item list-group-item-action list-group-item-danger">A simple danger list group item</a>
                    <a href="#" class="list-group-item list-group-item-action list-group-item-warning">A simple warning list group item</a>
                    <a href="#" class="list-group-item list-group-item-action list-group-item-info">A simple info list group item</a>
                    <a href="#" class="list-group-item list-group-item-action list-group-item-light">A simple light list group item</a>
                    <a href="#" class="list-group-item list-group-item-action list-group-item-dark">A simple dark list group item</a>
                  </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    
{% endblock content %}
    